.padding-0 {
	padding: 0; 
}

.margin-10 {
	margin: 10px; 
}

.img-top {
	height: 200px;
	padding-top: 10px;
	border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;
}

.img-bottom {
	max-width: 50px;
    padding: 5px;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.img-a-style {
	
}

.margin-5 {
	margin: 5px;
}

.padding-0-15 {
	padding: 0 15px;
}